<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alpha Awesomeness</title>
</head>
<body>
	<h1>Page Dimentions</h1>
	
	<div id="login">
		<form action="/" method="get">
			<label for="Width">Width:</label>
			<input type="text" id="Width" placeholder="640"/>

			<label for="Height">Height:</label>
			<input type="text" id="Height" placeholder="360"/>

			<input type="submit" value="Get Link"/>
		</form>
	</div>

<img class="content" src="http://localhost:3000/200/400/274575/255"/>


</body>
</html>
