
// # Colors
//$black: #000;
$jet: #333;
$white: #fff;

$primary-color: $jet;
$secondary-color: $white;
$alert-color: $jet;
$success-color: $jet;
$warning-color: $jet;
$info-color: $jet;

$body-bg: $white;
$body-font-color: $jet;
