
// # Colors
$black: #000;
$jet: #333;
$white: #fff;

$primary-color: $jet;
$secondary-color: $white;
$alert-color: $black;
$success-color: $black;
$warning-color: $black;
$info-color: $black;

$body-bg: $white;
$body-font-color: $jet;
